<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blockchain</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/main.css">
    
</head>
<body>
    <section class="form-contact">
    <form action='/' class="contact" method="post"> 
        <label><h1>Consierto musica mixta</h1></label>
        <br>
        <label>Precio: 50.000</label>
        <label>Fecha: 1 dicimebre 2022</label>
        <label>Lugar: Popayan / Unimayor</label>
        <label>Hora: 8 P:M</label>
        <br>
        <label><h3>Datos del comprador</h2></label>
        <br>
        
        <input type="text" name="cedula" id="escritura" placeholder="Cedula"> 
        <input type="text" name="nombre" id="nombre" placeholder="Nombre">
        <input type="text" name="correo" id="correo" placeholder="Correo">
        <input type="text" name="telefono" id="telefono" placeholder="Telefono">
        <input type="submit" value="Comprar"/>
    </form>
</section>
</body>
</html>
